<%=link_to('Back to list', pages_controller_index_path, :class => 'back-line') %>

<div class="pages delete">
  <h2>Delete Page</h2>
  <%= form_for(@page, :url => pages_controller_path, :method => 'delete') do |f|%>
  <p>Are you sure you want to permanently delete this page ?</p>
  <p class="reference-name"><%=f.object.name%></p>
  <div class="form-button">
    <%=f.submit("Delete page")%>
  </div>
  <%end%>
</div>
