<%=link_to('Back to list', sections_controller_index_path, :class => 'back-line') %>
<div class="section new">
  <h2>Edit Section</h2>
    <%=form_for(@section, :url => sections_controller_path) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f})%>
      <div class="form-buttons">
        <%= f.submit("Update Section")%>
      </div>
    <% end %>
</div>
